* {
  font: Verdana, Arial, 'sans-serif'; /* !important;<-- fonts */
  font-family: 'Open Sans' 'Segoe UI', 'Roboto', sans-serif;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: 'Acme';
  src: local('Acme'), url(./fonts/Acme.ttf) format('truetype');
}
body {
  /* font-family: 'Open Sans' 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin: 0;
  overflow: hidden;
  background-color: #efefef;
}

#root {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

