/* styles.css */

/* Reset default margin and padding */
body, h1, h2, p, a, img {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fdff99;
}

header {
  background-color: #62041b;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.game-card {
  width: 300px;
  background-color: #7b886f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.game-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.game-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.game-card a {
  display: inline-block;
  background-color: #639027;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.game-card a:hover {
  background-color: #fdff99;
  color: #62041b;
}
